// _COLORS HEADER
$color-navbar:#000;

// ****************************************************************
// _NAVBAR MOONIE
// ****************************************************************
.nav-moonie{
    background:$color-navbar;
}
// ****************************************************************
// _STYLES HEADER TITLE
// ****************************************************************
.h1{
    font-family: "nonchalance";
    display:inline-block;
    font-size:1.2em;
    padding:15px 0;
    margin:0;
}

.link{
    color:#FFF;
    &:hover{
        color:#32b1e3;
    }
}


.header-img{
    background:#FFF;
    color:#000;
    padding:40px;
}

.home-detail-movie{
    padding:20px;
    padding-left:40px;
    h2{
        font-size:1.5em;
    }
}