<nav>
    <div class="nav-wrapper">
        <a href="" class="">Moonie</a>
        <ul class="right hide-on-med-and-down">
            <li ui-sref-active="">
                <a href="" ui-sref="root.home">Home</a>
            </li>
            <!--<li><a href="" ui-sref="root.movies">Movies</a></li>-->
            <li><a href="" ui-sref="root.moviePopular">Popular</a></li>
            <!--<li><a href="" ui-sref="root.movieLatest">latest</a></li>-->
            <li><a href="" ui-sref="root.topRatedMovies">Top rated</a></li>
            <li><a href="" ui-sref="root.tvShows">TV Shows</a></li>
            <li><a href="" ui-sref="root.allGenre">TV Genres</a></li>

            <li ><a ui-sref="root.connexion"><img class="account-profile"  src="assets/images/ios-person.svg"> <span style="position:absolute;top:0;right:0;margin-top:20px;margin-right:12px;">Account</span></a></li>

        </ul>
    </div>    
</nav>
