<nav class="nav-moonie">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h1 class="h1 blueAppColor">Moonie</h1>
            </div>
            <div class="col s8">
                <ul class="right hide-on-med-and-down">
                    <li ui-sref-active="">
                        <a href="" ui-sref="root.home" class="link">Home</a>
                    </li>
                    <li><a href="" ui-sref="root.moviePopular" class="link">Popular</a></li>
                    <li><a href="" ui-sref="root.topRatedMovies" class="link">Best rated</a></li>
                    <li><a href="" ui-sref="root.tvShows" class="link">TV Shows</a></li>
                    <li><a href="" ui-sref="root.actorPopular" class="link">Actors</a></li>
                    <li><a href="" ui-sref="root.allGenre" class="link">Genres</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
