<nav>
    <div class="nav-wrapper">
        <a href="" class="">Moonie</a>
        <ul class="right hide-on-med-and-down">
            <li ui-sref-active="">
                <a href="" ui-sref="root.home">Home</a>
            </li>
            <li><a href="" ui-sref="root.movies">Films</a></li>
            <li><a href="" ui-sref="root.moviePopular">Populaires</a></li>
            <li><a href="" ui-sref="root.movieLatest">Derniers films</a></li>
            <li><a href="" ui-sref="root.tvShows">Séries TV</a></li>
        </ul>
    </div>    
</nav>
