<div>
  <div class="container-list">
  <div class="row">
    <div class="col m12" >
      <h4>Séries TV les plus populaires {{selectedIem}} {{vm.selectedIem}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3" ng-repeat="show in vm.popularTvShows | orderBy: vm.filterSelected.filter">
      <div class="card">
        <div class="card-image">
          <img ng-src="http://image.tmdb.org/t/p/w500{{show.backdrop_path}}">
          <span class="card-title card__title--shadow">{{show.name}}</span>
        </div>
      </div>
    </div>
  </div>



</div>
</div>